
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: "rubik", sans-serif;
    /*font-smooth: auto;*/
    line-height: 1;
    font-weight: 400;
    color: #555;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    height: 2.4rem;
}


.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
}

.main-nav-link:link, .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color: #444;
    font-size: 1.8rem;
    transition: color 0.3s;
}


.nav-cta:link, .nav-cta:visited {
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    background-color: #e67e22;
    transition: background-color 0.3s;
}


.main-nav-link:hover, .main-nav-link:active {
    color: #e67e22;
}

.nav-cta:hover, .nav-cta:active {
    background-color: #cf711f;
    color: #fff;
}

.hero {
    margin: 0 auto;
    padding: 0 3.2rem;
    max-width: 130rem;
    display: grid;
    align-items: center;
    column-gap: 9.6rem;
    grid-template-columns: 1fr 1fr;
}

.section-hero {
    background-color: #fdf2e9;
    padding: 3.2rem 0 9.6rem 0;
}

.hero-img {
    width: 100%;
}


.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn:visited, .btn:link {
    display: inline-block;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    border-radius: 0.9rem;
    transition: all 0.3s;
    font-size: 2rem;
    font-weight: 600;
}

.margin-right-sm {
    margin-right: 1.6rem !important;
}

.btn--full:visited, .btn--full:link {
    color: #fff;
    background-color: #e67e22;
    border: none;
}

.btn--full:active, .btn--full:hover {
    color: #fff;
    background-color: #cf711f;
    border: none;
}


.btn--outline:visited, .btn--outline:link {
    background-color: #fdf2e9;
    color: #e67e22;
}

.btn--outline:active, .btn--outline:hover {
    box-shadow: inset 0 0 0 2px #e67e22;
}

.delivered-meals {
    margin-top: 6.4rem;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.delivered-imgs {
    display: flex;
}

.important-text {
    color: #e67e22;
    font-weight: 700;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: solid 3px #fdf2e9;
}

.delivered-text {
    font-size: 1.8rem;
    font-weight: 600;
}

/*==============*/
/* HOW IT WORKS */
/*==============*/

.section-how {
    padding: 9.6rem 0;
}

.step-img {
    width: 35%;
    position: relative;
    z-index: 99999;
}


.step-number {
    margin-bottom: 1.2rem;
    font-size: 9.8rem;
    font-weight: 600;
    color: #ddd;
}

.step-img-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img-box::before, .step-img-box::after {
    content: "";
    display: block;
    border-radius: 50%;
    position: absolute;
}

.step-img-box::after {
    background-color: #fdf2e9;
    width: 60%;
    /*height: 60%;*/
    padding-bottom: 60%;
    z-index: -2;
}

.step-img-box::before {
    background-color: #fae5d3;
    width: 45%;
    /*height: 60%;*/
    padding-bottom: 45%;
    z-index: -1;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.8;
}
